name: Deploy to Github Pages
on:
  workflow_dispatch:
  push:
    paths:
      - "site/**"
      - ".github/workflows/deploy-hugo.yml"
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          repository: Roxedus/Talks
          path: upstream_talks
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        id: install
        with:
          hugo-version: "0.148.1"
          extended: true
      - name: Setup Node
        id: setup-node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 24.11.1
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3
      - name: Get certificates
        working-directory: site
        run: |
          ./.get-certs.sh
      - name: Prep hugo
        working-directory: site
        run: |
          hugo mod get
          hugo mod npm pack
          npm install
      - name: Build
        run: hugo -s ./site --minify
      # - name: Talks
      #   run: mkdir ./site/public/talks
      # - name: Build Docker talk files
      #   working-directory: upstream_talks
      #   run: just static docker
      # - name: Move Docker talk
      #   run: mv upstream_talks/docker/_site site/public/talks/docker
      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./site/public
          cname: roxedus.dev
