name: Test build
on:
  pull_request:
    paths:
      - "site/**"
      - ".github/workflows/deploy-hugo.yml"
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: true
          fetch-depth: 0
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        id: install
        with:
          hugo-version: "0.154.5"
          extended: true
      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        id: setup-node
        with:
          node-version: 24.13.0
      - name: Prep hugo
        working-directory: site
        run: |
          hugo mod get
          hugo mod npm pack
          npm install
      - name: Build
        run: hugo -s ./site --minify
